# Игнорировать папку сборки
build/

# Игнорировать папку с CMake файлами
CMakeFiles/

# Игнорировать библиотеки (предполагется установка вручную)
/external/imGui/*
/external/imGui-SFML/*
/external/sfml/*
/external/tinyFileDialogs/*

# Игнорировать ресурсы (шрифты, текстуры, звуки)
/assets/fonts/*
/assets/textures/*

# Игнорировать папку с проектами
projects/

example_gui_mainmenu.txt